/* #home {
	background: #ffc107;
	color: white;
}

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

footer p a {
	margin: 5px 15px;
} */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* set the fixed height of te footer here */
    height: 60px;
    line-height: 60px;
}

input,
select,
file,
textarea {
    max-width: 400px;
}